<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
<script
	src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
</head>
<body>
	author:
	<input type="textfield" id="author" />
	<br> Description:
	<input type="textfield" id="description" />
	<br> Hot course:
	<input type="textfield" id="hotCourse" />
	<br> Lecturer:
	<input type="textfield" id="lecturer" />
	<br> Name:
	<input type="textfield" id="name" />
	<br> Price:
	<input type="textfield" id="price" />
	<br> Time:
	<input type="textfield" id="time" />
	<br> User:
	<input type="textfield" id="user" />
	<br>
	<button id="saveButton">Save</button>
	<script src="../js/createCourse.js"></script>
</body>
</html>