<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
  </head>

  <body>
  
   <h1>Courses list</h1>
  
    <table>
      <tr>
        <th>NAME</th>
        <th>price</th>
        <th>Intro</th>
        
      </tr>
      <tr th:each="course : ${courses}">
        <td th:text="${course.name}"></td>
        <td th:text="${course.price}"></td>
        <td th:text="${course.intro}"></td>
      </tr>
    </table>
  
  </body>

</html>