<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Detail</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" id="https://kyna.vn/" href="https://kyna.vn/">
                            <span itemprop="name">
                                <i class="fa fa-home"></i> Trang chủ</span>
                            <meta itemprop="url" content="https://kyna.vn/">
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li>
                        <a href="/danh-sach-khoa-hoc">Danh sách khóa học</a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" th:each="objCourse : ${course}">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" id="https://kyna.vn/danh-sach-khoa-hoc/ngoai-ngu" href="https://kyna.vn/danh-sach-khoa-hoc/ngoai-ngu">
                            <span itemprop="name" th:text="${objCourse.category}"></span>
                            <meta itemprop="url" content="">
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" th:each="objCourse : ${course}">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" id="https://kyna.vn/danh-sach-khoa-hoc/ngoai-ngu/tieng-trung"
                            href="https://kyna.vn/danh-sach-khoa-hoc/ngoai-ngu/tieng-trung">
                            <span itemprop="name" th:text="${objCourse.name}"></span>
                            <meta itemprop="url" content="https://kyna.vn/danh-sach-khoa-hoc/ngoai-ngu/tieng-trung">
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" th:each="objCourse : ${course}">
                        <a itemscope="" itemtype="http://schema.org/Thing" itemprop="item" id="tieng-hoa-cho-nguoi-moi-bat-dau-1" href="tieng-hoa-cho-nguoi-moi-bat-dau-1">
                            <span itemprop="name" th:text="${objCourse.description}"></span>
                            <meta itemprop="url" content="tieng-hoa-cho-nguoi-moi-bat-dau-1">
                        </a>
                        <meta itemprop="position" content="4">
                    </li>
                </ul>
            </div>
        </div>
        <section>
            <div class="k-course-details-header container" data-id="91" data-course-type="1">
                <div class="k-course-details-title" th:each="objCourse : ${course}">
                    <h1 th:text="${objCourse.description}"></h1>
                    <div class="col-xl-8 col-md-11 col-xs-12 k-course-details-video">
                        <div class="videoWrapper ">
                            <div id="play_video" class="cursor-pointer">
                                <img class="img-fluid" src="https://img.youtube.com/vi/1ZtLusJgsB0/maxresdefault.jpg" alt="" title="">
                                <button class="ytp-large-play-button ytp-button" aria-label="Tiếng Hoa cho người mới bắt đầu 1" style="">
                                    <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
                                        <path class="ytp-large-play-button-bg" d="m .66,37.62 c 0,0 .66,4.70 2.70,6.77 2.58,2.71 5.98,2.63 7.49,2.91 5.43,.52 23.10,.68 23.12,.68 .00,-1.3e-5 14.29,-0.02 23.81,-0.71 1.32,-0.15 4.22,-0.17 6.81,-2.89 2.03,-2.07 2.70,-6.77 2.70,-6.77 0,0 .67,-5.52 .67,-11.04 l 0,-5.17 c 0,-5.52 -0.67,-11.04 -0.67,-11.04 0,0 -0.66,-4.70 -2.70,-6.77 C 62.03,.86 59.13,.84 57.80,.69 48.28,0 34.00,0 34.00,0 33.97,0 19.69,0 10.18,.69 8.85,.84 5.95,.86 3.36,3.58 1.32,5.65 .66,10.35 .66,10.35 c 0,0 -0.55,4.50 -0.66,9.45 l 0,8.36 c .10,4.94 .66,9.45 .66,9.45 z"
                                            fill="#1f1f1e" fill-opacity="0.81"></path>
                                        <path d="m 26.96,13.67 18.37,9.62 -18.37,9.55 -0.00,-19.17 z" fill="#fff"></path>
                                        <path d="M 45.02,23.46 45.32,23.28 26.96,13.67 43.32,24.34 45.02,23.46 z" fill="#ccc"></path>
                                    </svg>
                                </button>
                            </div>
                            <div id="youtube_video_wrapper">
                                <iframe width="560" height="349" src="https://www.youtube.com/embed/1ZtLusJgsB0?enablejsapi=1" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class="label-wrap">
                                <span class="lb-new">NEW</span>
                                <span class="lb-hot">HOT</span>
                            </div>
                            <div class="rating-box clearfix">
                                <div class="dot" position="1">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </div>
                                <div class="rating-text">
                                    <b>4.6
                                        <i class="icon icon-star"></i>
                                    </b>
                                    <span>(35
                                        <detail>
                                            đánh giá</detail>)
                                    </span>
                                </div>
                                <div class="dot" position="2">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </div>
                                <div class="number-student">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>8759 học viên
                                        <detail> đăng ký học</detail>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-11 col-xs-12 k-course-details-info sidebar-info course">
                        <ul class="list">
                            <li class="box-style hidden-lg-down">
                                <span class="st-video">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i> Khóa học video
                                </span>
                                <span class="time pc">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 4 giờ</span>
                            </li>
                            <li class="price-list">
                                <ul>
                                    <li  th:each="objCourse : ${course}">
                                        <div class="hidden-xl-up">
                                            <b>
                                                <i class="fa fa-tags"></i>
                                                <span class="label">
                                                    Học phí</span>
                                            </b>
                                        </div>
                                        <span class="price-sale">
                                            <b>
                                                <i class="fa fa-tags hidden-lg-down" th:text="${objCourse.priceUnit}"></i> đ
                                                <span class="hidden-lg-down"></span>
                                            </b>
                                        </span>
                                        <span class="price-old">
                                            (<s th:text="${objCourse.price}"></s>đ)
                                        </span>
                                        <!-- <span class="price-discount">
                                            <span class="hidden-lg-down">(</span>-34%
                                            <span class="hidden-lg-down">)</span>
                                        </span> -->
                                    </li>
                                </ul>
                            </li>
                            <li class="info">
                                <ul class="detail-info">
                                    <li class="hidden-xl-up">
                                        <i class="fa fa-youtube-play red" aria-hidden="true"></i>
                                        <span class="red">Khóa học video
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Trình độ: Mới bắt đầu</span>
                                    </li>
                                    <!-- <li>
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                        <span>Bài học: 70 bài</span>
                                    </li> -->
                                    <li>
                                        <i class="fa fa-eye" aria-hidden="true"></i> Xem được trên máy tính, điện thoại, tablet</li>
                                    <li>
                                        <i class="icon icon-certificate"></i>Sở hữu mãi mãi</li>
                                    <li>
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                        Cấp chứng nhận hoàn thành</li>
                                </ul>
                            </li>
                            <li class="bought-status">
                                <ul>
                                </ul>
                            </li>
                            <li class="button">
                                <ul>
                                    <li class="action-button">
                                        <a class="btn-buy-now dang-ky-hoc hidden-md-down" href="/pay" action="AddToCart" data-ga="event" data-pid="91" style="text-align: center;"
                                            category="CourseDetail" label="Tiếng Hoa cho người mới bắt đầu 1">
                                            <b>MUA NGAY</b>
                                        </a>
                                        <!-- <a class="go-to-cart add-to-cart dang-ky-hoc" href="#" action="AddToCart" data-ga="event" data-pid="91" style="text-align: center; margin-top: 10px;"
                                            category="CourseDetail" label="Tiếng Hoa cho người mới bắt đầu 1">
                                            <b class="hidden-md-down">Thêm vào giỏ hàng</b>
                                            <b class="hidden-lg-up">ĐĂNG KÝ HỌC: 199.000đ</b>
                                        </a> -->
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-container">
                <div class="container">
                    <div class="col-xl-8 col-md-11 col-xs-12">
                        <div class="k-course-details-main main-container">
                            <div class="k-course-details-main-left">
                                <section>
                                    <div id="k-course-details-about" class="k-course-details-about" path="scrolling">
                                        <ul class="list hidden-md-down">
                                            <li>
                                                <a href="#k-course-details-about" link="#k-course-details-about">Giới thiệu</a>
                                            </li>
                                            <li>
                                                <a href="#k-course-details-curriculum">Nội dung học</a>
                                            </li>
                                            <li>
                                                <a href="#k-course-details-author" link="#k-course-details-author">Giảng viên</a>
                                            </li>
                                        </ul>
                                        <div class="course-overview">
                                            <div class="title">Bạn sẽ học được gì</div>
                                            <input id="showmore-content" type="checkbox" style="display: none">
                                            <div class="content-list">
                                                <p>
                                                    <strong>Khóa học tiếng Hoa&nbsp;</strong>dưới&nbsp;sự dẫn dắt của giảng viên&nbsp;
                                                    <strong>Nguyễn Minh Thúy</strong>, trải qua 10 phần học, bạn sẽ nắm vững&nbsp;
                                                    <strong>cách học tiếng Hoa hiệu quả</strong>&nbsp;với các nội dung chính sau
                                                    đây:
                                                </p>
                                                <ul>
                                                    <li>Toàn bộ về khẩu ngữ, cách phát âm của tiếng Hoa</li>
                                                    <li>Viết chính xác các từ trong tiếng Hoa</li>
                                                    <li>Tự giới thiệu bản thân bằng tiếng Hoa</li>
                                                    <li>Giao tiếp với mọi người bằng những câu quen thuộc trong đời sống hằng
                                                        ngày
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="title hidden-md-down">Giới thiệu khóa học</div>
                                            <div class="box-application hidden-md-down">
                                                <p>
                                                    Kyna.vn thực hiện
                                                    <strong>khóa học&nbsp;tiếng Hoa cho người mới bắt đầu 1&nbsp;</strong>- nhằm
                                                    đáp ứng nhu cầu học và tìm hiểu về tiếng Hoa của học viên.
                                                </p>
                                                <p>
                                                    Có thể nói, để nói được
                                                    <strong>tiếng Hoa</strong> là cả một chặng đường khổ học vì mỗi từ có thể được
                                                    phát âm theo 4 cách và người mới học bao giờ cũng gặp vấn đề trong cách
                                                    phân biệt các ngữ điệu.&nbsp;
                                                </p>
                                                <p>
                                                    Bạn có thể vượt qua những khó khăn đó, nhanh chóng và dễ dàng hơn trong việc
                                                    <strong>chinh phục tiếng Hoa</strong>
                                                    cùng khóa học này. Khóa học dành cho học viên ở mức sơ cấp - mới bắt đầu làm quen với tiếng Hoa và muốn
                                                    <strong>
                                                        <a title="học tiếng Hoa" href="https://kyna.vn/p/nhom-khoa-hoc/tieng-hoa-cho-nguoi-moi-bat-dau-v3" target="_blank" rel="noopener">học tiếng Hoa</a>
                                                    </strong> từ những bước cơ bản đầu tiên. Đây sẽ là nền tảng để bạn phát triển hơn
                                                    khả năng tiếng Hoa của mình ở một mức độ cao hơn trong tương lai.
                                                </p>
                                                <p>
                                                    <span style="color: #000000;">
                                                        <strong>Khóa học tiếng Hoa&nbsp;</strong>dưới&nbsp;sự dẫn dắt của giảng viên
                                                        <span style="color: #000000;">
                                                            <strong>Nguyễn Minh Thúy</strong>
                                                        </span>, trải qua 10 phần học, bạn sẽ nắm vững
                                                        <strong>cách học tiếng Hoa hiệu quả</strong> với các nội dung chính sau đây:</span>
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span style="color: #000000;">Toàn bộ về khẩu ngữ, cách phát âm của tiếng Hoa</span>
                                                    </li>
                                                    <li>
                                                        <span style="color: #000000;">Viết chính xác các từ trong tiếng Hoa</span>
                                                    </li>
                                                    <li>
                                                        <span style="color: #000000;">Tự giới thiệu bản thân bằng tiếng Hoa</span>
                                                    </li>
                                                    <li>
                                                        <span style="color: #000000;">Giao tiếp với mọi người bằng những câu quen thuộc trong đời sống
                                                            hằng ngày
                                                        </span>
                                                    </li>
                                                </ul>
                                                <p>
                                                    <span style="color: #000000;">Nếu
                                                        <strong>học tiếng Hoa</strong> và chinh phục tiếng Hoa là mục tiêu của bạn,
                                                        hãy khám phá khóa học
                                                        <span style="color: #000000;">
                                                            <strong>tiếng Hoa cho người mới bắt đầu</strong>
                                                        </span> ngay hôm nay.
                                                    </span>
                                                </p>
                                                <p>
                                                    <span style="color: #000000;">Đặc biệt, với những bạn muốn nâng cao hơn nữa kỹ năng sử dụng tiếng Hoa
                                                        của mình, tham gia ngay khóa học
                                                        <strong>
                                                            <a href="https://kyna.vn/tieng-hoa-cho-nguoi-moi-bat-dau-2" target="_blank" rel="noopener">Tiếng Hoa cho người mới bắt đầu 2</a>
                                                        </strong>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="hidden-md-down">
                                    <div id="k-course-details-curriculum" class="k-course-details-curriculum" path="scrolling">
                                        <h3 class="hidden-md-down">Nội dung khóa học</h3>
                                        <ul class="wrap-detail">
                                            <li class="part" th:each="part : ${parts}">
                                                <h4 class="icon-arrow-down" th:text="${part.name}"></h4>
                                                <h4 class="icon-arrow-down" th:text="${part.description}"></h4>
                                                <ul>
                                                    <li th:each="lesson : ${lessons.get(part.id)}">
                                                        <span>
                                                            <img src="https://media-kyna.cdn.vccloud.vn/img/icon-arrow-circle-right-line.png" alt="" th:text="${lesson.name}">
                                                            <p th:text="${lesson.description}"></p>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- <li class="part">
                                                <h4 class="icon-arrow-down">Phần 1: Bài 1 - Ngữ pháp cơ bản trong chào hỏi</h4>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <img src="https://media-kyna.cdn.vccloud.vn/img/icon-arrow-circle-right-line.png" alt="">Bài 1.1: Thanh mẫu - Vận mẫu</span>
                                                    </li>
                                                </ul>
                                            </li> -->
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="part-parent">
                            <div class="part-child-1">
                                <h3 class="hidden-lg-up">NỘI DUNG KHÓA HỌC</h3>
                                <!-- <div class="k-course-details-list-combo clearfix">
                                    <h4>Combo có khóa học này</h4>
                                    <div class="item">
                                        <img class="img-fluid" src="https://media-kyna.cdn.vccloud.vn/uploads/courses/272/img/image_url.cover-160x90.jpg" alt="Tiếng Hoa cho người mới bắt đầu"
                                            title="Tiếng Hoa cho người mới bắt đầu">
                                        <div class="info">
                                            <a class="course-name" href="/tieng-hoa-cho-nguoi-moi-bat-dau-p272" target="_blank" title="Tiếng Hoa cho người mới bắt đầu">
                                                Tiếng Hoa cho người mới bắt đầu </a>
                                            <ul class="hidden-md-down">
                                                <li>
                                                    <i class="icon icon-arrow-circle-right-line"></i>
                                                    <span>Khóa học: 4 khóa</span>
                                                </li>
                                                <li>
                                                    <i class="icon icon-user"></i>
                                                    <span>Giảng viên: 1 chuyên gia</span>
                                                </li>
                                                <li>
                                                    <i class="icon icon-certificate"></i>
                                                    <span>Cấp chứng nhận hoàn thành</span>
                                                </li>
                                            </ul>
                                            <div class="price hidden-md-down">
                                                <b>399.000&nbsp;₫</b>
                                                <del>1.250.000&nbsp;₫</del>
                                                <span class="red">-68%</span>
                                            </div>
                                        </div>
                                        <div class="price hidden-lg-up">
                                            <i class="fa fa-tags"></i>
                                            <b>Học phí: </b>
                                            <b>399.000&nbsp;₫</b>
                                            <del>1.250.000&nbsp;₫</del>
                                            <span class="red">-68%</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="part-child-2">
                                <section>
                                    <div id="k-course-details-author" class="k-course-details-author" path="scrolling">
                                        <div class="">
                                            <h4 class="title-content hidden-md-down">Thông tin giảng viên</h4>
                                            <ul>
                                                <li class="k-course-details-author-img">
                                                    <img class="img-fluid" src="https://media-kyna.cdn.vccloud.vn/uploads/user/325931/img/avatar.crop-120x120.png" alt="Trần Duy Thanh"
                                                        title="Trần Duy Thanh">
                                                    <div class="info-teacher hidden-lg-up">
                                                        <a href="/giang-vien/tran-duy-thanh" class="name">
                                                            <b>Trần Duy Thanh</b>
                                                        </a>
                                                        <div class="info">Thạc sỹ Khoa học máy tính</div>
                                                    </div>
                                                </li>
                                                <li class="k-course-details-author-teacher" th:each="obj : ${lecturer}">
                                                    <div class="k-course-details-author-teacher-title">
                                                        <a href="/giang-vien/tran-duy-thanh" class="name hidden-md-down" th:text="${obj.name}"></a>
                                                        <span class="info hidden-md-down">Thạc sỹ Khoa học máy tính</span>
                                                    </div>
                                                    <!-- <a href="/giang-vien/tran-duy-thanh" class="btn btn-info-teacher main hidden-md-down">XEM THÊM THÔNG TIN</a> -->
                                                    <div class="content-teacher hidden-md-down">
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <strong>
                                                                <span style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-fareast-language: VI;">Chức vụ:</span>
                                                            </strong>
                                                        </p>
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <span lang="EN-US" style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-ansi-language: EN-US;"
                                                                th:text="${obj.position}">
                                                            </span>
                                                        </p>
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <strong>
                                                                <span style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-fareast-language: VI;">Học vấn:</span>
                                                            </strong>
                                                        </p>
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <span style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-fareast-language: VI;" th:text="${obj.education}">
                                                            </span>
                                                        </p>
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <strong>
                                                                <span style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-fareast-language: VI;">Kinh nghiệm:</span>
                                                            </strong>
                                                        </p>
                                                        <p class="MsoNormal" style="margin-bottom: .0001pt; text-align: justify; line-height: 150%;">
                                                            <span style="font-size: 13.0pt; line-height: 150%; mso-ascii-font-family: 'Times New Roman'; mso-ascii-theme-font: major-latin; mso-fareast-font-family: 'Times New Roman'; mso-hansi-font-family: 'Times New Roman'; mso-hansi-theme-font: major-latin; mso-bidi-font-family: 'Times New Roman'; mso-bidi-theme-font: major-latin; mso-fareast-language: VI;" th:text="${obj.experience}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-11 col-xs-12 k-course-details-main-right hidden-md-down">
                        <section>
                            <div class="k-course-details-related">
                                <h3>Khóa học liên quan</h3>
                                <ul class="row k-course-details-related-list">
                                    <li class="col-sm-12 col-xs-6 list" data-id="851" data-brand="AlphaBooks" th:each="course : ${courses}">
                                        <div class="item-list clearfix">
                                            <div class="col-sm-4 col-xs-12 k-related-courses-img">
                                                <a href="/tieng-trung-du-lich">
                                                    <img class="img-fluid" th:src="@{${course.img}}"
                                                        alt="Tiếng Trung du lịch" title="Tiếng Trung du lịch" style="height: auto;">
                                                </a>
                                            </div>
                                            <div class="col-sm-8 col-xs-12 k-related-courses-text">
                                                <h6 style="height: auto;">
                                                    <a href="/tieng-trung-du-lich" th:text="${course.description}"></a>
                                                </h6>
                                                <ul>
                                                    <li>
                                                        <span th:text="${course.price}">&nbsp;₫</span>
                                                    </li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>