<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- <div class="title-content">
			<h1>Courses list</h1>
		</div>
		<div class="list-course">
			<table>
				<tr>
					<th>NAME</th>
					<th>price</th>
					<th>Introduce</th>

				</tr>
				<tr th:each="course : ${courses}">
					<td th:text="${course.name}"></td>
					<td th:text="${course.price}"></td>
					<td th:text="${course.intro}"></td>
				</tr>
			</table>
		</div> -->

		<section>
			<div id="k-banner" class="clearfix k-height-header pc">
				<div class="container">
					<div class="wrap-content col-md-10 col-md-offset-1 pd0">
						<h1 class="title">
							<b>Tìm khóa học bạn đang quan tâm</b>
						</h1>
						<form id="search-form-index" class="clearfix form-search"
							action="/danh-sach-khoa-hoc" method="get">
							<input type="text" name="q" class="form-control"
								placeholder="Nhập từ khóa để tìm khóa học bạn cần">
							<button class="btn btn-default" type="submit">
								<i class="icon-search icon"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="tags-what-learn-today none_on_mobile">
			<div class="container">
				<h2 class="text-center">Bạn muốn học gì hôm nay</h2>
				<div class="wrapper-tags">
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/17718/img/image_url-1544518924.original.png)">
							<a href="/tag/dong-gia" title="Đồng giá"> <span>Đồng
									giá</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/6/img/image_url-1534920385.original.png)">
							<a href="/tag/giao-tiep"
								title="Khoá học giao tiếp online cùng chuyên gia"> <span>Giao
									tiếp</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/8/img/image_url-1534920593.original.png)">
							<a href="/tag/ban-hang" title="Bán hàng"> <span>Bán
									hàng</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/13/img/image_url-1534920764.original.png)">
							<a href="/tag/photoshop" title="Photoshop"> <span>Photoshop</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/11/img/image_url-1534920710.original.png)">
							<a href="/tag/facebook"
								title="Học Facebook Marketing online cùng chuyên gia"> <span>Facebook</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/2698/img/image_url-1534920996.original.png)">
							<a href="/tag/thuyet-phuc" title="Thuyết phục"> <span>Thuyết
									phục</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/4299/img/image_url-1534920952.original.png)">
							<a href="/tag/seo" title="SEO"> <span>SEO</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/5/img/image_url-1534920343.original.png)">
							<a href="/tag/tieng-hoa"
								title="Khoá học Tiếng Hoa online cùng chuyên gia "> <span>Tiếng
									Hoa</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/12/img/image_url-1534920744.original.png)">
							<a href="/tag/guitar" title="Guitar"> <span>Guitar</span>
							</a>
						</div>
					</div>
					<div class="item">
						<div class="box"
							style="background-image: url(https://media-kyna.cdn.vccloud.vn/uploads/tags/14/img/image_url-1534920859.original.png)">
							<a href="/tag/yoga" title="Yoga"> <span>Yoga</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div id="k-highlights" class="container">
				<h2 class="title">
					<b>Khóa học nổi bật cho bạn</b>
				</h2>
				<ul id="w0" class="clearfix k-box-card-list">
					<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card" data-key="0" th:each="course : ${courses}">
						<div class="k-box-card-wrap clearfix" data-id="896"
							data-course-type="1">
							<div class="img" style="height: 142px;">
								<img class="img-fluid"
									th:src="@{${course.img}}"
									alt="Học tính toán nhanh cùng bàn tính Soroban 3"
									title="Học tính toán nhanh cùng bàn tính Soroban 3" />
								<div class="label-wrap"></div>
								<div class="rating-box clearfix">
									<div class="dot" position="1">
										<i class="fa fa-circle" aria-hidden="true"></i>
									</div>
									<div class="rating-text">
										<b>4.8 <i class="icon icon-star"></i></b> <span>(45<detail>
											đánh giá</detail>)
										</span>
									</div>
									<div class="dot" position="2">
										<i class="fa fa-circle" aria-hidden="true"></i>
									</div>
									<div class="number-student">
										<i class="fa fa-user" aria-hidden="true"></i> <span>23350
											<span>học viên</span> <detail> đăng ký học</detail>
										</span>
									</div>
								</div>
								<span class="background-detail"> <span
									class="wrap-position">
										<div class="inner">
											<a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
												data-ajax="" data-toggle="popup" data-target="#modal">Xem
												nhanh</a> <a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
												class="view-detail">Xem chi tiết</a>
										</div>
								</span>
								</span>
							</div>
							<div class="content" style="height: 148px !important">
								<div class="box-style">
									<span class="st-video"><i class="fa fa-youtube-play"
										aria-hidden="true"></i> Khóa học video</span> <span class="time pc" th:text="${course.hours}"><i
										class="fa fa-clock-o" aria-hidden="true"></i></span><span class="time pc"> giờ</span>
								</div>
								<h4 th:text="${course.description}"></h4>
								<span class="author" th:text="${course.author}"></span> <span class="major">Sản
                                    phẩm của Kyna Group</span>
                                    
							</div>
							<div class="content-mb" style="height: auto;">
								<b>Kyna For Kids</b><span><b>,</b> Sản phẩm của Kyna
									Group</span>
							</div>
							<div class="view-price" style="height: 47px !important">
								<ul>
									<li class="price"><strong th:text="${course.price}"></strong> đ</li>
								</ul>
							</div>
							<!-- <div class="view-price-mb">
								<div class="student">
									<div class="number">23350</div>
									<div class="text">học viên</div>
								</div>
								<div class="time">
									<div class="number">8</div>
									<div class="text">giờ</div>
								</div>
								<div class="price">
									<div class="label-price">
										<div class="first">400.000đ</div>
									</div>
								</div>
							</div> -->
							<a th:href="@{'/' + ${course.url}}"
								class="link-wrap"></a>
						</div> <a th:href="@{'/' + ${course.url}}"
						class="card-popup"></a>
					</li>
				</ul>
				<!-- <span class="button-more"> <a href="/danh-sach-khoa-hoc"
					class="btn btn-primary-kyna">Xem tất cả khóa học</a>
                </span> -->
            </div>
		</section>
		<section>
			<div id="k-supply-list">
				<div class="container k-supply-list-wrap">
					<div
						class="k-supply-list-inner col-lg-10 col-lg-offset-1 col-sm-12">
						<h2 class="title">
							<b>Danh mục khóa học đang cung cấp</b>
						</h2>
						<div class="k-supply-list-box clearfix">
							<ul class="desktop">
								<li><a href="/danh-sach-khoa-hoc" title="Tất cả khóa học">
										<span class="text">Tất cả khóa học</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/65/img/home_icon-1528365865.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/kinh-doanh"
									title="Kinh doanh"> <span class="text">Kinh doanh</span> <img
										class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/32/img/home_icon-1528365934.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/marketing-truyen-thong"
									title="Marketing - Truyền thông"> <span class="text">Marketing
											- Truyền thông</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/35/img/home_icon-1528365942.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/vi-tinh-van-phong"
									title="Vi tính văn phòng"> <span class="text">Vi
											tính văn phòng</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/22/img/home_icon-1528366075.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/ke-toan-tai-chinh-dau-tu"
									title="Kế toán - tài chính - đầu tư"> <span class="text">Kế
											toán - tài chính - đầu tư</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/33/img/home_icon-1528366088.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/thiet-ke-do-hoa-va-video"
									title="Thiết kế, đồ họa và video"> <span class="text">Thiết
											kế, đồ họa và video</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/39/img/home_icon-1528366098.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/it-va-lap-trinh"
									title="IT và lập trình"> <span class="text">IT và
											lập trình</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/20/img/home_icon-1528366107.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/ky-nang-cho-cong-viec"
									title="Kỹ năng cho công việc"> <span class="text">Kỹ
											năng cho công việc</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/16/img/home_icon-1528366124.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/ngoai-ngu"
									title="Ngoại ngữ"> <span class="text">Ngoại ngữ</span> <img
										class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/36/img/home_icon-1528366138.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/hr-phat-trien-nguon-luc"
									title="HR - Phát triển nguồn lực"> <span class="text">HR
											- Phát triển nguồn lực</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/91/img/home_icon-1528366212.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/nuoi-day-con"
									title="Nuôi dạy con"> <span class="text">Nuôi dạy
											con</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/19/img/home_icon-1528366225.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/ky-nang-cho-be"
									title="Kỹ năng cho bé"> <span class="text">Kỹ năng
											cho bé</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/89/img/home_icon-1528366236.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/phat-trien-ca-nhan"
									title="Phát triển cá nhân"> <span class="text">Phát
											triển cá nhân</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/37/img/home_icon-1528366252.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/phu-nu-va-gia-dinh"
									title="Phụ nữ và gia đình"> <span class="text">Phụ
											nữ và gia đình</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/38/img/home_icon-1528366259.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/nghe-thuat-va-doi-song"
									title="Nghệ thuật và Đời sống"> <span class="text">Nghệ
											thuật và Đời sống</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/21/img/home_icon-1528366271.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/mc-truyen-hinh"
									title="MC - Truyền hình"> <span class="text">MC -
											Truyền hình</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/90/img/home_icon-1528366280.png"
										alt="">
								</a></li>
								<li><a href="/danh-sach-khoa-hoc/luyen-thi-hoc-bong"
									title="Luyện thi - Học Bổng"> <span class="text">Luyện
											thi - Học Bổng</span> <img class="icon"
										src="https://media-kyna.cdn.vccloud.vn/uploads/categories/34/img/home_icon-1538108371.png"
										alt="">
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div id="k-about-us" class="clearfix pc d-none d-sm-block">
				<div class="col-lg-6 col-md-12 col-xs-12 k-about-us-background"></div>
				<div class="container">
					<div class="col-lg-6 col-md-12 col-xs-12 k-about-us-why">
						<h2 class="title">
							<b>Tại sao nên chọn Kyna?</b>
						</h2>
						<ul>
							<li><span class="icon"> <img
									src="https://media-kyna.cdn.vccloud.vn/src/img/home/hoc-cung-chuyen-gia.svg"
									alt="Học cùng chuyên gia" class="img-fluid">
							</span> <span class="text"> <span>Học cùng chuyên gia: </span>
									Tương tác với chuyên gia, nhận sự trợ giúp từ chuyên gia.
							</span></li>
							<li><span class="icon"> <img
									src="https://media-kyna.cdn.vccloud.vn/src/img/home/hoc-mai-mai.svg"
									alt="Thanh toán một lần" class="img-fluid">
							</span> <span class="text"> <span>Thanh toán một lần: </span>
									Phương thức thanh toán linh hoạt, thanh toán một lần sở hữu bài
									học mãi mãi.
							</span></li>
							<li><span class="icon"> <img
									src="https://media-kyna.cdn.vccloud.vn/src/img/home/hoc-moi-noi.svg"
									alt="Mọi lúc mọi nơi" class="img-fluid">
							</span> <span class="text"> <span>Mọi lúc mọi nơi: </span> Học
									mọi lúc mọi nơi qua điện thoại, máy tính, ipad có kết nối
									Internet.
							</span></li>
							<li><span class="icon"> <img
									src="https://media-kyna.cdn.vccloud.vn/src/img/home/hoan-tien.svg"
									alt="Cam kết hoàn tiền" class="img-fluid">
							</span> <span class="text"> <span>Cam kết hoàn tiền: </span> Học
									viên được hoàn tiền học phí nếu thấy khóa học không hiệu quả.
							</span></li>
						</ul>
					</div>
					<div class="col-lg-6 col-md-12 col-xs-12 k-about-us-comment">
						<h2 class="title">
							<b>Học viên nói về chúng tôi</b>
						</h2>
						<div class="k-about-us-slide">
							<ul class="owl-carousel owl-theme"
								style="opacity: 1; display: block;">
								<div class="owl-wrapper-outer">
									<div class="owl-wrapper"
										style="width: 3030px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">
										<div class="owl-item" style="width: 505px;">
											<li>
												<div class="k-about-us-customer clearfix">
													<div class="col-md-4 col-xs-12 img">
														<img
															src="https://media-kyna.cdn.vccloud.vn/src/img/home/hinhme1.png"
															alt="Chị Lê Hương" class="img-fluid">
													</div>
													<div class="col-md-8 col-xs-12 text">
														<span>Chị Lê Hương - mẹ bé Quỳnh Anh (Tp.HCM)</span> <span>Cùng
															con tham gia khóa <b>"Học tính toán nhanh cùng bàn
																tính Soroban"</b>
														</span>
													</div>
												</div>
												<p>Vì muốn Quỳnh Anh có sự chuẩn bị thật tốt trước khi
													vào lớp một nên mình cho bé làm quen với toán sớm. Nhưng
													khi nhắc đến toán thì bé cứ lơ đi, không có hứng thú. Tình
													cờ mình biết đến khóa học toán online của Kyna, rất bất ngờ
													là bé rất vui vẻ và học rất chăm chỉ. Nhờ khóa học mà Quỳnh
													Anh nhà mình giờ đây không còn sợ toán nữa, cách học thuận
													tiện của Kyna cũng giúp mình được bên con nhiều hơn và theo
													dõi việc học của con dễ dàng.</p>
											</li>
										</div>
									</div>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div id="k-teaching-kyna">
				<div class="k-teaching-kyna-wrap">
					<div class="item">
						<img class="bg-item"
							src="https://media-kyna.cdn.vccloud.vn/uploads/home_teacher/1/img/image_url-1544177409.png"
							alt="">
						<div class="box-item">
							<div class="name">ThS. Lưu Minh Hường</div>
							<div class="major">Viện Phó - Viện nghiên cứu giáo dục trẻ
								thông minh sớm VSK</div>
						</div>
					</div>
					<div class="item">
						<img class="bg-item"
							src="https://media-kyna.cdn.vccloud.vn/uploads/home_teacher/2/img/image_url-1526384058.png"
							alt="">
						<div class="box-item">
							<div class="name">Trần Thị Ái Liên</div>
							<div class="major">Sáng lập viên Bạn Của Bé</div>
						</div>
					</div>
					<div class="item">
						<img class="bg-item"
							src="https://media-kyna.cdn.vccloud.vn/img/kyna-teach/bg-centerbox.png"
							alt="">
						<div class="box-item">
							<div class="box-middle">
								<img
									src="https://media-kyna.cdn.vccloud.vn/img/kyna-teach/icon-teach.png"
									alt="">
								<div class="title">
									Tham gia<br> giảng dạy tại Kyna
								</div>
								<a href="/p/kyna/giang-day" class="btn btn-see-more">Tìm
									hiểu thêm</a>
							</div>
						</div>
					</div>
					<div class="item">
						<img class="bg-item"
							src="https://media-kyna.cdn.vccloud.vn/uploads/home_teacher/4/img/image_url-1526384069.png"
							alt="">
						<div class="box-item">
							<div class="name">Nguyễn Đức Việt</div>
							<div class="major">Giảng viên Thiết kế web tại FPT - Arena</div>
						</div>
					</div>
					<div class="item">
						<img class="bg-item"
							src="https://media-kyna.cdn.vccloud.vn/uploads/home_teacher/3/img/image_url-1526384063.png"
							alt="">
						<div class="box-item">
							<div class="name">Mai Xuân Đạt</div>
							<div class="major">Giám Đốc SEONgon</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>
</html>