<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- <div class="title-content">
			<h1>Courses list</h1>
		</div>
		<div class="list-course">
			<table>
				<tr>
					<th>NAME</th>
					<th>price</th>
					<th>Introduce</th>

				</tr>
				<tr th:each="course : ${courses}">
					<td th:text="${course.name}"></td>
					<td th:text="${course.price}"></td>
					<td th:text="${course.intro}"></td>
				</tr>
			</table>
		</div> -->
		<h2 class="title">
			<b>Khóa học nổi bật cho bạn</b>
		</h2>
		<ul id="w0" class="clearfix k-box-card-list">
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="0">
				<div class="k-box-card-wrap clearfix" data-id="896"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/896/img/image_url-1536482222.cover-263x147.png"
							alt="Học tính toán nhanh cùng bàn tính Soroban 3"
							title="Học tính toán nhanh cùng bàn tính Soroban 3">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.8 <i class="icon icon-star"></i></b> <span>(45<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>23350
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
										data-ajax="" data-toggle="popup" data-target="#modal">Xem
										nhanh</a> <a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
										class="view-detail">Xem chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 8 giờ</span>
						</div>
						<h4>Học tính toán nhanh cùng bàn tính Soroban 3</h4>
						<span class="author">Kyna For Kids</span> <span class="major">Sản
							phẩm của Kyna Group</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Kyna For Kids</b><span><b>,</b> Sản phẩm của Kyna Group</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>400.000đ</strong></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">23350</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">8</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">400.000đ</div>
							</div>
						</div>
					</div>
					<a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
						class="link-wrap"></a>
				</div> <a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-3"
				class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="1">
				<div class="k-box-card-wrap clearfix" data-id="524"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/524/img/image_url-1501392091.cover-263x147.jpg"
							alt="Guitar fingerstyle cơ bản cùng haketu"
							title="Guitar fingerstyle cơ bản cùng haketu">
						<div class="label-wrap">
							<span class="lb-hot">HOT</span>
						</div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.9 <i class="icon icon-star"></i></b> <span>(21<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>1173
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/guitar-fingerstyle-co-ban-cung-haketu" data-ajax=""
										data-toggle="popup" data-target="#modal">Xem nhanh</a> <a
										href="/guitar-fingerstyle-co-ban-cung-haketu"
										class="view-detail">Xem chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 4 giờ</span>
						</div>
						<h4>Guitar fingerstyle cơ bản cùng haketu</h4>
						<span class="author">Hà Kế Tú</span> <span class="major">Founder
							at Haketu Guitar</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Hà Kế Tú</b><span><b>,</b> Founder at Haketu Guitar</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>199.000đ</strong></li>
							<li class="sale"><span>300.000đ</span>
								<div class="label-discount">(-34%)</div></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">1173</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">4</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">199.000đ</div>
								<div class="last">
									<s>300.000đ</s>
								</div>
							</div>
						</div>
					</div>
					<a href="/guitar-fingerstyle-co-ban-cung-haketu" class="link-wrap"></a>
				</div> <a href="/guitar-fingerstyle-co-ban-cung-haketu" class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="2">
				<div class="k-box-card-wrap clearfix" data-id="47"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/47/img/image_url.cover-263x147.jpg"
							alt="Rèn luyện trí tuệ cảm xúc cho con"
							title="Rèn luyện trí tuệ cảm xúc cho con">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.8 <i class="icon icon-star"></i></b> <span>(37<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>47804
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/ren-luyen-tri-tue-cam-xuc-cho-con" data-ajax=""
										data-toggle="popup" data-target="#modal">Xem nhanh</a> <a
										href="/ren-luyen-tri-tue-cam-xuc-cho-con" class="view-detail">Xem
										chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 2 giờ</span>
						</div>
						<h4>Rèn luyện trí tuệ cảm xúc cho con</h4>
						<span class="author">Trần Thị Ái Liên</span> <span class="major">Sáng
							lập viên Bạn Của Bé</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Trần Thị Ái Liên</b><span><b>,</b> Sáng lập viên Bạn Của
							Bé</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>350.000đ</strong></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">47804</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">2</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">350.000đ</div>
							</div>
						</div>
					</div>
					<a href="/ren-luyen-tri-tue-cam-xuc-cho-con" class="link-wrap"></a>
				</div> <a href="/ren-luyen-tri-tue-cam-xuc-cho-con" class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="3">
				<div class="k-box-card-wrap clearfix" data-id="551"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/551/img/image_url.cover-263x147.jpg"
							alt="Phân tích báo cáo tài chính cơ bản đến nâng cao"
							title="Phân tích báo cáo tài chính cơ bản đến nâng cao">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.5 <i class="icon icon-star"></i></b> <span>(31<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>1230
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/phan-tich-bao-cao-tai-chinh-co-ban-den-nang-cao"
										data-ajax="" data-toggle="popup" data-target="#modal">Xem
										nhanh</a> <a
										href="/phan-tich-bao-cao-tai-chinh-co-ban-den-nang-cao"
										class="view-detail">Xem chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 5 giờ</span>
						</div>
						<h4>Phân tích báo cáo tài chính cơ bản đến nâng cao</h4>
						<span class="author">Lê Hoài Ân</span> <span class="major">CFA
							Charter Holder, MBA</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Lê Hoài Ân</b><span><b>,</b> CFA Charter Holder, MBA</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>199.000đ</strong></li>
							<li class="sale"><span>700.000đ</span>
								<div class="label-discount">(-72%)</div></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">1230</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">5</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">199.000đ</div>
								<div class="last">
									<s>700.000đ</s>
								</div>
							</div>
						</div>
					</div>
					<a href="/phan-tich-bao-cao-tai-chinh-co-ban-den-nang-cao"
						class="link-wrap"></a>
				</div> <a href="/phan-tich-bao-cao-tai-chinh-co-ban-den-nang-cao"
				class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="4">
				<div class="k-box-card-wrap clearfix" data-id="13"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/13/img/image_url-1501219608.cover-263x147.jpg"
							alt="Cho con ăn đúng cách" title="Cho con ăn đúng cách">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.6 <i class="icon icon-star"></i></b> <span>(52<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>47971
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/cho-con-an-dung-cach" data-ajax=""
										data-toggle="popup" data-target="#modal">Xem nhanh</a> <a
										href="/cho-con-an-dung-cach" class="view-detail">Xem chi
										tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 2 giờ</span>
						</div>
						<h4>Cho con ăn đúng cách</h4>
						<span class="author">Trần Thị Ái Liên</span> <span class="major">Sáng
							lập viên Bạn Của Bé</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Trần Thị Ái Liên</b><span><b>,</b> Sáng lập viên Bạn Của
							Bé</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>350.000đ</strong></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">47971</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">2</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">350.000đ</div>
							</div>
						</div>
					</div>
					<a href="/cho-con-an-dung-cach" class="link-wrap"></a>
				</div> <a href="/cho-con-an-dung-cach" class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="5">
				<div class="k-box-card-wrap clearfix" data-id="894"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/894/img/image_url-1536482535.cover-263x147.png"
							alt="Học tính toán nhanh cùng bàn tính Soroban 1"
							title="Học tính toán nhanh cùng bàn tính Soroban 1">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.8 <i class="icon icon-star"></i></b> <span>(266<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>23579
									<span>học viên</span> <detail> đăng ký học</detail>
								</span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-1"
										data-ajax="" data-toggle="popup" data-target="#modal">Xem
										nhanh</a> <a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-1"
										class="view-detail">Xem chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 2 giờ</span>
						</div>
						<h4>Học tính toán nhanh cùng bàn tính Soroban 1</h4>
						<span class="author">Kyna For Kids</span> <span class="major">Sản
							phẩm của Kyna Group</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Kyna For Kids</b><span><b>,</b> Sản phẩm của Kyna Group</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>400.000đ</strong></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">23579</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">2</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">400.000đ</div>
							</div>
						</div>
					</div>
					<a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-1"
						class="link-wrap"></a>
				</div> <a href="/hoc-tinh-toan-nhanh-cung-ban-tinh-soroban-1"
				class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="6">
				<div class="k-box-card-wrap clearfix" data-id="642"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/642/img/image_url-1501318697.cover-263x147.jpg"
							alt="Xây dựng mô hình F&amp;B thành công"
							title="Xây dựng mô hình F&amp;B thành công">
						<div class="label-wrap">
							<span class="lb-hot">HOT</span>
						</div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>3.8 <i class="icon icon-star"></i></b> <span>(5<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>222 <span>học
										viên</span> <detail> đăng ký học</detail></span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/xay-dung-mo-hinh-fb-thanh-cong" data-ajax=""
										data-toggle="popup" data-target="#modal">Xem nhanh</a> <a
										href="/xay-dung-mo-hinh-fb-thanh-cong" class="view-detail">Xem
										chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 2 giờ</span>
						</div>
						<h4>Xây dựng mô hình F&amp;B thành công</h4>
						<span class="author">Hoàng Tùng</span> <span class="major">Diễn
							giả-CEO PizzaHome</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Hoàng Tùng</b><span><b>,</b> Diễn giả-CEO PizzaHome</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>149.000đ</strong></li>
							<li class="sale"><span>400.000đ</span>
								<div class="label-discount">(-63%)</div></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">222</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">2</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">149.000đ</div>
								<div class="last">
									<s>400.000đ</s>
								</div>
							</div>
						</div>
					</div>
					<a href="/xay-dung-mo-hinh-fb-thanh-cong" class="link-wrap"></a>
				</div> <a href="/xay-dung-mo-hinh-fb-thanh-cong" class="card-popup"></a>
			</li>
			<li class="col-xl-3 col-lg-4 col-md-6 col-xs-12 k-box-card"
				data-key="7">
				<div class="k-box-card-wrap clearfix" data-id="719"
					data-course-type="1">
					<div class="img" style="height: 142px;">
						<img class="img-fluid"
							src="https://media-kyna.cdn.vccloud.vn/uploads/courses/719/img/image_url.cover-263x147.jpg"
							alt="Phân tích kỹ thuật trong chứng khoán"
							title="Phân tích kỹ thuật trong chứng khoán">
						<div class="label-wrap"></div>
						<div class="rating-box clearfix">
							<div class="dot" position="1">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="rating-text">
								<b>4.8 <i class="icon icon-star"></i></b> <span>(34<detail>
									đánh giá</detail>)
								</span>
							</div>
							<div class="dot" position="2">
								<i class="fa fa-circle" aria-hidden="true"></i>
							</div>
							<div class="number-student">
								<i class="fa fa-user" aria-hidden="true"></i> <span>995 <span>học
										viên</span> <detail> đăng ký học</detail></span>
							</div>
						</div>
						<span class="background-detail"> <span
							class="wrap-position">
								<div class="inner">
									<a href="/phan-tich-ky-thuat-trong-chung-khoan" data-ajax=""
										data-toggle="popup" data-target="#modal">Xem nhanh</a> <a
										href="/phan-tich-ky-thuat-trong-chung-khoan"
										class="view-detail">Xem chi tiết</a>
								</div>
						</span>
						</span>
					</div>
					<div class="content" style="height: 148px !important">
						<div class="box-style">
							<span class="st-video"><i class="fa fa-youtube-play"
								aria-hidden="true"></i> Khóa học video</span> <span class="time pc"><i
								class="fa fa-clock-o" aria-hidden="true"></i> 15 giờ</span>
						</div>
						<h4>Phân tích kỹ thuật trong chứng khoán</h4>
						<span class="author">Jennifer Trần</span> <span class="major">Chuyên
							gia phân tích chứng khoán</span>
					</div>
					<div class="content-mb" style="height: auto;">
						<b>Jennifer Trần</b><span><b>,</b> Chuyên gia phân tích
							chứng khoán</span>
					</div>
					<div class="view-price" style="height: 47px !important">
						<ul>
							<li class="price"><strong>299.000đ</strong></li>
							<li class="sale"><span>500.000đ</span>
								<div class="label-discount">(-40%)</div></li>
						</ul>
					</div>
					<div class="view-price-mb">
						<div class="student">
							<div class="number">995</div>
							<div class="text">học viên</div>
						</div>
						<div class="time">
							<div class="number">15</div>
							<div class="text">giờ</div>
						</div>
						<div class="price">
							<div class="label-price">
								<div class="first">299.000đ</div>
								<div class="last">
									<s>500.000đ</s>
								</div>
							</div>
						</div>
					</div>
					<a href="/phan-tich-ky-thuat-trong-chung-khoan" class="link-wrap"></a>
				</div> <a href="/phan-tich-ky-thuat-trong-chung-khoan" class="card-popup"></a>
			</li>
		</ul>
		<span class="button-more"> <a href="/danh-sach-khoa-hoc"
			class="btn btn-primary-kyna">Xem tất cả khóa học</a>
		</span>
	</div>
</body>
</html>